@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss-primeui";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Inter, sans-serif;
    --color-background-light: #ffffff;
    --color-background-dark: #09090b;
}

:root {
    color-scheme: light;
    background-color: var(--color-background-light);
}

:root.dark {
    color-scheme: dark;
    background-color: var(--color-background-dark);
}
